
<div class="absolute-position fill-parent">
    
    <svg 
          (mousedown)="onBackgroundMouseDown($event)"
          (mousemove)="onBackgroundMouseMove($event)" 
          (mouseup)="onBackgroundMouseUp($event)"
          class="absolute-position fill-parent" xmlns="http://www.w3.org/2000/svg" version="1.2" 
          [attr.viewBox]="getViewBox()">
      <ng-container *ngFor="let s of (elementState | async)?.present.elements; let i = index">
        <ng-container *ngIf="s.visible && !isHiddenSelection(s.id)" dynamic-svg [componentData]="s" [overrideProperties]="overrideProperties" [elementId]="s.id"
          [hoverClass]="hoverClass"
          (mouseDown)="onMouseDown($event)"
          (mouseMove)="onMouseMove($event)"
          (mouseUp)="onMouseUp($event)"
          
          >
        </ng-container>
      </ng-container>
    </svg>
</div>
