<ng-template #elementTemplate>
  <ng-container *ngIf="data && visualData">
    <svg:g
      [attr.transform]="visualData.rotation > 0 ? 'rotate(' + visualData.rotation + ',' + (visualData.x + visualData.width / 2 )+ ',' + (visualData.y + visualData.height / 2) + ')' : ''">
        >
        <svg:clipPath [id]="'clip_' + elementId">
            <svg:rect
              [attr.x]="data.x"
              [attr.y]="data.y"
              [attr.width]="data.width"
              [attr.height]="data.height">
            </svg:rect>
          </svg:clipPath>
      
          <svg:rect
          [ngClass]="(visualData.clickable ? hoverClass : '') + (!canInteract ? ' no-interact' : '')"
            (click)="onClick($event, data)"
            (mousedown)="onMouseDown($event, data)"
            (mousemove)="onMouseMove($event, data)"
            (mouseup)="onMouseUp($event, data)"
            
            [id]="'bounds_' + elementId" 
            
            [attr.x]="data.x"
            [attr.y]="data.y"
            [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
            [attr.width]="data.width"
            [attr.height]="data.height"
            [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
            [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
            [attr.stroke-width]="visualData.strokeWidth"
            [attr.opacity]="visualData.opacity">
          </svg:rect>
          <svg:g [id]="'g_' + elementId" [attr.clip-path]="'url(#clip_' + elementId + ')'">
            <ng-container *ngIf="lineData && lineData.length === 1">
              <svg:text

                [id]="'text_' + elementId" 
                (click)="onClick($event, data)"
                (mousedown)="onMouseDown($event, data)"
                (mousemove)="onMouseMove($event, data)"
                (mouseup)="onMouseUp($event, data)"
                [attr.y]="getMultiLineTextY()"
                [attr.fill]="visualData.showText ? visualData.fontColor : 'transparent'"
                [attr.font-size]="visualData.size + 'pt'"
                [attr.font-family]="visualData.fontFamily"
                [attr.font-weight]="visualData.bold ? 'bold' : 'normal'"
                [attr.font-style]="visualData.italic ? 'italic' : 'normal'"
                [attr.text-anchor]="getHAlignment()"
                [ngClass]="'noselect ' + (visualData.clickable ? hoverClass : '') + (!canInteract ? ' no-interact' : '')">
                
                <tspan class="preserve-white-space" [attr.x]="getTextX()">{{ lineData[0].text }}</tspan>
                
              
              
              </svg:text>
            </ng-container>
            <ng-container *ngIf="lineData && lineData.length > 1">
              <svg:text
                [id]="'text_' + elementId" 
                (click)="onClick($event, data)"
                (mousedown)="onMouseDown($event, data)"
                (mousemove)="onMouseMove($event, data)"
                (mouseup)="onMouseUp($event, data)"
                [attr.fill]="visualData.showText ? visualData.fontColor : 'transparent'"
                [attr.font-size]="visualData.size + 'pt'"
                [attr.font-family]="visualData.fontFamily"
                [attr.font-weight]="visualData.bold ? 'bold' : 'normal'"
                [attr.font-style]="visualData.italic ? 'italic' : 'normal'"
                [attr.text-anchor]="getHAlignment()"
                [ngClass]="'noselect ' + (visualData.clickable ? hoverClass : '') + (!canInteract ? ' no-interact' : '')">
                
                
                <tspan class="preserve-white-space" [attr.x]="getTextX()" 
                      [attr.y]="i === 0 ? getMultiLineTextY() : ''" 
                      [attr.dy]="i !== 0 ? ((visualData.size + TEXT_PADDING) * l.lineHeightMultiplier) : ''" 
                      *ngFor="let l of lineData; let i = index;">{{ l.text}}</tspan>
             
              
              
              </svg:text>
            </ng-container>
            
          </svg:g>
    </svg:g>
      
  </ng-container>
</ng-template>