<ng-template #elementTemplate>
    <svg:rect *ngIf="data && visualData" 
      [ngClass]="visualData.clickable ? hoverClass : ''"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id" 
      [attr.x]="visualData.x" 
      [attr.y]="visualData.y" 
      [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
      [attr.width]="visualData.width" 
      [attr.height]="visualData.height"
      [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
      [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
      [attr.stroke-width]="visualData.strokeWidth"
      [attr.opacity]="visualData.opacity">
    </svg:rect>
</ng-template>

