<ng-template #elementTemplate>
    <svg:rect *ngIf="data && visualData" 
    [ngClass]="(visualData.clickable ? hoverClass : '') + (!canInteract ? ' no-interact' : '')"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="elementId" 
      [attr.x]="data.x" 
      [attr.y]="data.y" 
      [attr.transform]="data.rotation > 0 ? 'rotate(' + data.rotation + ',' + (data.x + data.width / 2 )+ ',' + (data.y + data.height / 2) + ')' : ''"
      [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
      [attr.width]="data.width" 
      [attr.height]="data.height"
      [attr.rx]="data.rounded ? 16 : 0"
      [attr.ry]="data.rounded ? 16 : 0"
      [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
      [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
      [attr.stroke-width]="visualData.strokeWidth"
      [attr.opacity]="visualData.opacity">
    </svg:rect>
</ng-template>

