<app-selector-tool *ngIf="SELECTOR_TOOL === (elementState | async)?.present.selectedTool"></app-selector-tool>
<app-pen-tool *ngIf="PEN_TOOL === (elementState | async)?.present.selectedTool"
                    [polygonStyle]="polygonStyle" [lineStyle]="lineStyle" [penDblClick]="penDblClick" [objectPreviewStyle]="objectPreviewStyle"></app-pen-tool>
<app-object-creation-tool *ngIf="shouldShowCreationTool()"
                    [polygonStyle]="polygonStyle" [objectPreviewStyle]="objectPreviewStyle"></app-object-creation-tool>
<app-text-edit-tool *ngIf="TEXT_EDIT_TOOL === (elementState | async)?.present.selectedTool"></app-text-edit-tool>
<app-callout-point-tool *ngIf="CALLOUT_POINTER_TOOL === (elementState | async)?.present.selectedTool"></app-callout-point-tool>
<app-point-tool *ngIf="POINT_TOOL === (elementState | async)?.present.selectedTool"
                    [pointStyle]="pointStyle"></app-point-tool>