<app-selector-tool [canModifyShapes]="canModifyShapes"  [multiClickEnabled]="multiClickEnabled" [emitBackgroundClick]="emitBackgroundClick"
  (backgroundMouseUp)="backgroundMouseUp.emit($event)" [rotaterStyle]="rotaterStyle" [resizerStyle]="resizerStyle" [traceSelectionStyle]="traceSelectionStyle"
  [bbSelectionStyle]="bbSelectionStyle" (selectorDoubleClick)="selectorDoubleClick.emit($event)"
*ngIf="SELECTOR_TOOL === (elementState | async)?.present.selectedTool"></app-selector-tool>
<app-pen-tool *ngIf="PEN_TOOL === (elementState | async)?.present.selectedTool" (mouseAction)="mouseAction.next($event)" [emitMouseEvents]="emitMouseEvents"
                    [polygonStyle]="polygonStyle" [lineStyle]="lineStyle" [penDblClick]="penDblClick" [objectPreviewStyle]="objectPreviewStyle"
                    [allowLines]="allowLines" [autoSelectObjects]="autoSelectObjects"></app-pen-tool>
<app-object-creation-tool *ngIf="shouldShowCreationTool()" [autoSelectObjects]="autoSelectObjects"
                    [polygonStyle]="polygonStyle" [objectPreviewStyle]="objectPreviewStyle"></app-object-creation-tool>
<app-text-edit-tool *ngIf="TEXT_EDIT_TOOL === (elementState | async)?.present.selectedTool" [autoSelectObjects]="autoSelectObjects"></app-text-edit-tool>
<app-callout-point-tool *ngIf="CALLOUT_POINTER_TOOL === (elementState | async)?.present.selectedTool"></app-callout-point-tool>
<app-point-tool *ngIf="POINT_TOOL === (elementState | async)?.present.selectedTool" [autoSelectObjects]="autoSelectObjects"
                    [pointStyle]="pointStyle"></app-point-tool>