<ng-template #elementTemplate>
  <ng-container *ngIf="data">
      <svg:rect
      [ngClass]="{ clickable: data.clickable }"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id"
      [attr.x]="data.x"
      [attr.y]="data.y"
      [attr.width]="data.width"
      [attr.height]="data.height"
      [attr.fill]="data.fill"
      [attr.opacity]="data.opacity">
    </svg:rect>
    <svg:image 
        [ngClass]="{ clickable: data.clickable }"
        (click)="onClick($event, data)"
        (mousedown)="onMouseDown($event, data)"
        (mousemove)="onMouseMove($event, data)"
        (mouseup)="onMouseUp($event, data)"
        [attr.x]="data.x"
        [attr.y]="data.y"
        [attr.width]="data.width"
        [attr.height]="data.height"
        [attr.href]="data.url"
        [attr.opacity]="data.opacity">
      </svg:image>
    <svg:rect
      [ngClass]="{ clickable: data.clickable }"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id"
      [attr.x]="data.x"
      [attr.y]="data.y"
      [attr.stroke-dasharray]="data.dashedLine ? '10 10' : ''"
      [attr.width]="data.width"
      [attr.height]="data.height"
      [attr.fill]="data.showFill ? data.fill : 'transparent'"
      [attr.stroke]="data.showStroke ? data.stroke : 'transparent'"
      [attr.stroke-width]="data.strokeWidth"
      [attr.opacity]="data.opacity">
    </svg:rect>
  </ng-container>
    
    
    
</ng-template>