<div>
  <button (click)="undo()">Undo</button>
  <button (click)="redo()">Redo</button>
  <button (click)="up()">Up</button>
  <button (click)="down()">Down</button>
  <button (click)="selector()">Selector</button>
  <button (click)="textEdit()">Edit Text</button>
  <button (click)="editCallout()">Edit Callout</button>
  <button (click)="pen()">Pen</button>
  <button (click)="point()">Point</button>
  <button (click)="ellipse()">Ellipse</button>
  <button (click)="rectangle()">Rectangle</button>
  <button (click)="roundedRectangle()">Rounded Rectangle</button>
  <button (click)="callout()">Callout</button>
  <button (click)="roundedCallout()">Rounded Callout</button>
  <button (click)="image()">Image</button>
  <button (click)="text()">Text</button>
  <button (click)="triangle()">Triangle</button>
  <button (click)="star()">Star</button>
  <button (click)="arrow()">Arrow</button>

  <button (click)="setTextStyleNC()">Text Near Center</button>
  <button (click)="setTextStyleNF()">Text Near Far</button>
  <button (click)="setTextStyleCN()">Text Center Near</button>
  <button (click)="setTextStyleCC()">Text Center Center</button>
  <button (click)="setTextStyleCF()">Text Center Far</button>
  <button (click)="setTextStyleFN()">Text Far Near</button>
  <button (click)="setTextStyleFC()">Text Far Center</button>
  <button (click)="setTextStyleFF()">Text Far Far</button>
  <button (click)="group()">Group</button>
  <button (click)="ungroup()">Ungroup</button>
  <button (click)="duplicate()">Duplicate</button>
  <button (click)="remove()">Remove</button>
  <button (click)="clear()">Clear</button>
  <button (click)="alignLeft()">Left</button>
  <button (click)="alignCenter()">Center</button>
  <button (click)="alignRight()">Right</button>
  <button (click)="alignTop()">Top</button>
  <button (click)="alignMiddle()">Middle</button>
  <button (click)="alignBottom()">Bottom</button>
  <button (click)="setStyles()">Styles</button>
  <button (click)="setInvisible()">Visibility</button>
  <button (click)="imageUrl()">Image Url</button>
  <button (click)="showPreview()">Preview</button>
  <button (click)="setPreviewStyle()">Preview Style</button>
  <!--<button (click)="setBoundingBox()">Bounding Box</button>--><!--Removed due to a user issue on github #1 where the bounding box button lead to confusion. It doesn't demonstrate any use to the app and was used for our testing purposes so it has been removed-->
  <button (click)="renameSelectedObject()">Rename Object</button>

  <button (click)="exportToImage()">Export</button>
</div>

<!-- UNCOMMENT TO SEE HISTORY
<pre>
    {{ (elementState | async)?.past | json }}
</pre>
-->

<div style="position:relative; width: 600px; height: 600px; border: 1px solid red">

    <app-editable-drawer #drawer [itemViewBox]="viewBoxItem">
    </app-editable-drawer>

</div>

<div style="position:relative; width: 600px; height: 600px; border: 1px solid blue">

    <app-preview>
    </app-preview>

</div>

<canvas #canvas style="position:relative; border: 1px solid red; width: 600px; height: 600px;" width="1200" height="1200">

</canvas>