<div>
    <button (click)="undo()">Undo</button>
    <button (click)="redo()">Redo</button>
    <button (click)="up()">Up</button>
    <button (click)="down()">Down</button>
    <button (click)="selector()">Selector</button>
    <button (click)="textEdit()">Edit Text</button>
    <button (click)="editCallout()">Edit Callout</button>
    <button (click)="pen()">Pen</button>
    <button (click)="ellipse()">Ellipse</button>
    <button (click)="rectangle()">Rectangle</button>
    <button (click)="roundedRectangle()">Rounded Rectangle</button>
    <button (click)="callout()">Callout</button>
    <button (click)="image()">Image</button>
    <button (click)="text()">Text</button>
    <button (click)="triangle()">Triangle</button>
    <button (click)="star()">Star</button>
    <button (click)="arrow()">Arrow</button>

    <button (click)="setTextStyleNC()">Text Near Center</button>
    <button (click)="setTextStyleNF()">Text Near Far</button>
    <button (click)="setTextStyleCN()">Text Center Near</button>
    <button (click)="setTextStyleCC()">Text Center Center</button>
    <button (click)="setTextStyleCF()">Text Center Far</button>
    <button (click)="setTextStyleFN()">Text Far Near</button>
    <button (click)="setTextStyleFC()">Text Far Center</button>
    <button (click)="setTextStyleFF()">Text Far Far</button>
    <button (click)="group()">Group</button>
    <button (click)="ungroup()">Ungroup</button>
    <button (click)="duplicate()">Duplicate</button>
    <button (click)="remove()">Remove</button>
    <button (click)="clear()">Clear</button>
    <button (click)="alignLeft()">Left</button>
    <button (click)="alignCenter()">Center</button>
    <button (click)="alignRight()">Right</button>
    <button (click)="alignTop()">Top</button>
    <button (click)="alignMiddle()">Middle</button>
    <button (click)="alignBottom()">Bottom</button>
    <button (click)="setStyles()">Styles</button>
    <button (click)="setInvisible()">Visibility</button>
    <button (click)="imageUrl()">Image</button>
    <button (click)="showPreview()">Preview</button>
    <button (click)="setPreviewStyle()">Preview Style</button>
    <button (click)="setBoundingBox()">Bounding Box</button>
</div>
<div style="position:relative; width: 600px; height: 600px; border: 1px solid red">

    <app-editable-drawer [itemViewBox]="viewBoxItem">
    </app-editable-drawer>

</div>

<div style="position:relative; width: 600px; height: 600px; border: 1px solid blue">

    <app-preview>
    </app-preview>

</div>



