

<app-drawer [overrideProperties]="invisibleStyle"  [hoverClass]="'clickable'"
  (mouseDownObject)="onMouseDown($event)"
  (mouseMoveObject)="onMouseMove($event)"
  (mouseUpObject)="onMouseUp($event)"
  >
</app-drawer>

<svg *ngIf="cssBounds" [ngStyle]="cssBounds"
      
  xmlns="http://www.w3.org/2000/svg"
  (mousedown)="onBackgroundMouseDown($event)"
  (mousemove)="onBackgroundMouseMove($event)"
  (mouseup)="onBackgroundMouseUp($event)"
  [ngClass]="cursor"
  >
  <svg:g [attr.transform]="selectionTransform">
    
    <svg:g>
      <ng-container 
        *ngIf="(elementState | async)?.present.selectedBounds && boundingBoxObject" dynamic-svg 
        [elementId]="1000001"
        [componentData]="boundingBoxObject"
        [hoverClass]="cursor" 
  
        (mouseDown)="onBoundsMouseDown($event)"
        (mouseMove)="onBoundsMouseMove($event)"
        (mouseUp)="onBoundsMouseUp($event)">
      </ng-container>
    </svg:g>
   
    <ng-container  *ngFor="let s of selectedObjects" dynamic-svg [componentData]="s" [overrideProperties]="selectionStyle" [elementId]="s.id"
      (mouseDown)="onSelectionMouseDown($event)"
      (mouseMove)="onSelectionMouseMove($event)"
      (mouseUp)="onSelectionMouseUp($event)"
      [hoverClass]="cursor"
    ></ng-container>

    <ng-container *ngFor="let s of sizers; let i = index;">
        <rect [id]="'resizer-' + i"  *ngIf="(i % 2 === 0 || !isShiftDown()) &&
                                            (elementState | async)?.present.selectedBounds && 
                                            boundingBoxObject && 
                                            canResize && 
                                            mouseDownRotator < 0 &&
                                            (!mouseDown || mouseDownSizer >= 0)"
        (mousedown)="onResizerMouseDown($event, i)" 
        (mousemove)="onResizerMouseMove($event, i)"
        (mouseup)="onResizerMouseUp($event, i)"
        [ngClass]="getResizerCursor(i)"
        [attr.width]="SIZER_SIZE" 
        [attr.height]= "SIZER_SIZE" fill="green" 
        [attr.x]="getResizerX(i)" 
        [attr.y]="getResizerY(i)"></rect>
    </ng-container>
  </svg:g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" *ngIf="canRotate && mouseDownSizer < 0 && (!mouseDown || mouseDownRotator >= 0)"
  [ngStyle]="rotateRightBounds" fill="green">
   <rect id='rotate-right'
        class='crosshair'
        (mousedown)="onRotateMouseDown($event, 0)" 
        (mousemove)="onRotateMouseMove($event, 0)"
        (mouseup)="onRotateMouseUp($event, 0)"
        [attr.width]="SIZER_SIZE" 
        [attr.height]= "SIZER_SIZE" 
        [attr.rx]= "HALF_SIZER" 
        [attr.rx]= "HALF_SIZER" 
        fill="red">
    </rect>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" *ngIf="canRotate && mouseDownSizer < 0 && (!mouseDown || mouseDownRotator >= 0)"
  [ngStyle]="rotateBottomBounds" fill="green">
  <rect id='rotate-bottom'
        class='crosshair'
        (mousedown)="onRotateMouseDown($event, 1)" 
        (mousemove)="onRotateMouseMove($event, 1)"
        (mouseup)="onRotateMouseUp($event, 1)"
        [attr.width]="SIZER_SIZE" 
        [attr.height]= "SIZER_SIZE" 
        [attr.rx]= "HALF_SIZER" 
        [attr.rx]= "HALF_SIZER"
        fill="red">
    </rect>
</svg>