

<app-drawer [overrideProperties]="invisibleStyle"  [hoverClass]="'clickable'"
  (mouseDownObject)="onMouseDown($event)"
  (mouseMoveObject)="onMouseMove($event)"
  (mouseUpObject)="onMouseUp($event)"
  >
</app-drawer>

<svg *ngIf="cssBounds" [ngStyle]="cssBounds" style="border: blue 1px solid"
  xmlns="http://www.w3.org/2000/svg"
  (mousedown)="onBackgroundMouseDown($event)"
  (mousemove)="onBackgroundMouseMove($event)"
  (mouseup)="onBackgroundMouseUp($event)"
  [ngClass]="cursor"
  >
  <svg:g [attr.transform]="selectionTransform">
    <ng-container *ngFor="let s of selectedObjects">
      <ng-container dynamic-svg [componentData]="s" [overrideProperties]="selectionStyle" (click)="onClick($event)" [elementId]="1000000"></ng-container>
    </ng-container>
    <ng-container 
      *ngIf="(elementState | async)?.present.selectedBounds && boundingBoxObject" dynamic-svg 
      [elementId]="1000001"
      [componentData]="boundingBoxObject"
      [hoverClass]="cursor" 

      (mouseDown)="onMouseDown($event)"
      (mouseMove)="onMouseMove($event)"
      (mouseUp)="onMouseUp($event)"

      ></ng-container>
    <ng-container *ngIf="(elementState | async)?.present.selectedBounds && boundingBoxObject">
        <rect *ngFor="let s of sizers; let i = index;" 
        (mousedown)="onResizerMouseDown($event, i)" 
        (mousemove)="onResizerMouseMove($event, i)"
        (mouseup)="onResizerMouseUp($event, i)"
        [ngClass]="getResizerCursor(i)"
        width="8" height= "8" fill="green" [attr.x]="getResizerX(i)" [attr.y]="getResizerY(i)"></rect>
    </ng-container>
  </svg:g>
</svg>