<div class="absolute-position fill-parent" (click)="onClick()">
  <div (click)="$event.stopPropagation()" *ngIf="currentObject && cssBounds" #container [ngStyle]="cssBounds"
  [ngClass]='{
    "absolute-position": true,
    "border-red": !inputBorder,
    "border-invisible": inputBorder }'>
      <app-editable-text-area #textArea [border]="inputBorder" (dataInput)="onTextAreaInput($event)" (load)="onTextAreaLoaded($event)" 
                              [textAreaStyle]="textAreaStyle" [text]="divify()"></app-editable-text-area>
    
  </div>
</div>