<div class="absolute-position fill-parent" contenteditable="true" (input)="onInput($event)" (click)="onClick()">
    
  <svg *ngIf="cssBounds" [ngStyle]="cssBounds"
        [ngClass]="'text'"
        class="absolute-position" xmlns="http://www.w3.org/2000/svg" >
      
      <svg:g [attr.transform]="selectionTransform">
        <ng-container 
          dynamic-svg 
          [elementId]="100000"
          [componentData]="currentObject"
          [overrideProperties]="selectionStyle"
          [hoverClass]="'text'" 

        ></ng-container>
      </svg:g>
      

  </svg>
</div>