<ng-template #elementTemplate>
    <svg:ellipse *ngIf="data && visualData" 
      [ngClass]="visualData.clickable ? hoverClass : ''"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id" 
      [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
      [attr.cx]="visualData.x"
      [attr.cy]="visualData.y" 
      [attr.rx]="visualData.rx" 
      [attr.ry]="visualData.ry"
      [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
      [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
      [attr.stroke-width]="visualData.strokeWidth"
      [attr.opacity]="visualData.opacity">
    </svg:ellipse>
</ng-template>