<ng-template #elementTemplate>
    <svg:ellipse *ngIf="data" 
      [ngClass]="{ clickable: data.clickable }"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id" 
      [attr.stroke-dasharray]="data.dashedLine ? '10 10' : ''"
      [attr.cx]="data.x", 
      [attr.cy]="data.y" 
      [attr.rx]="data.rx" 
      [attr.ry]="data.ry"
      [attr.fill]="data.showFill ? data.fill : 'transparent'"
      [attr.stroke]="data.showStroke ? data.stroke : 'transparent'"
      [attr.stroke-width]="data.strokeWidth"
      [attr.opacity]="data.opacity">
    </svg:ellipse>
</ng-template>