<ng-template #elementTemplate>
    <svg:polygon *ngIf="data && visualData" 
      [ngClass]="visualData.clickable ? hoverClass : ''"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [id]="data.id"
      [attr.points]="getPoints()"
      [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
      [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
      [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
      [attr.stroke-width]="visualData.strokeWidth"
      [attr.opacity]="visualData.opacity">
      
    </svg:polygon>
</ng-template>
