<app-drawer #drawer [handleMouseEvents]="false" [viewBox]="itemViewBox">

</app-drawer>
<app-editor-tool [pointStyle]="pointStyle" [emitMouseEvents]="emitMouseEvents" [canModifyShapes]="canModifyShapes"
                    [polygonStyle]="polygonStyle" [lineStyle]="lineStyle" [penDblClick]="penDblClick" [multiClickEnabled]="multiClickEnabled"
                    (mouseAction)="mouseAction.next($event)" [objectPreviewStyle]="objectPreviewStyle" [allowLines]="allowLines" [emitBackgroundClick]="emitBackgroundClick"
  (backgroundMouseUp)="backgroundMouseUp.emit($event)" [rotaterStyle]="rotaterStyle" [resizerStyle]="resizerStyle"
  [traceSelectionStyle]="traceSelectionStyle" [bbSelectionStyle]="bbSelectionStyle">

</app-editor-tool>