<ng-template #elementTemplate>
  <ng-container *ngIf="data && visualData">
    <svg:path
      [id]="elementId"
      [ngClass]="(visualData.clickable ? hoverClass : '') + (!canInteract ? ' no-interact' : '')"
      (click)="onClick($event, data)"
      (mousedown)="onMouseDown($event, data)"
      (mousemove)="onMouseMove($event, data)"
      (mouseup)="onMouseUp($event, data)"
      [attr.opacity]="visualData.opacity"
      [attr.d]="getPath()"
      [attr.fill]="visualData.showFill ? visualData.fill : 'transparent'"
      [attr.stroke]="visualData.showStroke ? visualData.stroke : 'transparent'"
      [attr.stroke-width]="visualData.strokeWidth"
      [attr.stroke-dasharray]="visualData.dashedLine ? '10 10' : ''"
      >      
    </svg:path>
  </ng-container>
</ng-template>
